.venv/
__pycache__/
*.pyc
.pytest_cache/
.venv_tools
test_sse.py
test_cors.py
make_transparent.py
.env
ui/node_modules
ui/.vite/deps/_metadata.json
ui/.vite/deps/package.json
.vscode/settings.json

# data files 
data/agent_auth.json
data/rule_engine_store.json
# test files
data/test_agent_auth_tmp.json
data/test_agent_auth_tmp2.json
data/test_agent_auth_tmp3.json
schemas/waste_management_autonomous_operations.json
evals/eval_output_raw*.txt
.DS_Store
.gitignore
company_server/.DS_Store
decision_center/.DS_Store
evals/.DS_Store
mcp_server/.DS_Store
rule_engine/.DS_Store
.DS_Store
